<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AdjustWindowForFontSizeChange</key>
	<true/>
	<key>AllowClipboardAccess</key>
	<false/>
	<key>AnimateDimming</key>
	<false/>
	<key>AppleAntiAliasingThreshold</key>
	<integer>1</integer>
	<key>AppleScrollAnimationEnabled</key>
	<integer>0</integer>
	<key>AppleSmoothFixedFontsSizeThreshold</key>
	<integer>1</integer>
	<key>AutoHideTmuxClientSession</key>
	<false/>
	<key>CheckTestRelease</key>
	<true/>
	<key>ClosingHotkeySwitchesSpaces</key>
	<true/>
	<key>CommandSelection</key>
	<true/>
	<key>Control</key>
	<integer>1</integer>
	<key>CopyLastNewline</key>
	<false/>
	<key>CopySelection</key>
	<true/>
	<key>Custom Color Presets</key>
	<dict>
		<key>Monokai Soda</key>
		<dict>
			<key>Ansi 0 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.10051459074020386</real>
				<key>Green Component</key>
				<real>0.10051288455724716</real>
				<key>Red Component</key>
				<real>0.10051589459180832</real>
			</dict>
			<key>Ansi 1 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.3728577196598053</real>
				<key>Green Component</key>
				<real>0.0</real>
				<key>Red Component</key>
				<real>0.95683503150939941</real>
			</dict>
			<key>Ansi 10 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.14004382491111755</real>
				<key>Green Component</key>
				<real>0.87921047210693359</real>
				<key>Red Component</key>
				<real>0.59473341703414917</real>
			</dict>
			<key>Ansi 11 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.38154411315917969</real>
				<key>Green Component</key>
				<real>0.83635991811752319</real>
				<key>Red Component</key>
				<real>0.87748134136199951</real>
			</dict>
			<key>Ansi 12 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.99877572059631348</real>
				<key>Green Component</key>
				<real>0.39599207043647766</real>
				<key>Red Component</key>
				<real>0.61468899250030518</real>
			</dict>
			<key>Ansi 13 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.3728577196598053</real>
				<key>Green Component</key>
				<real>0.0</real>
				<key>Red Component</key>
				<real>0.95683503150939941</real>
			</dict>
			<key>Ansi 14 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.92060363292694092</real>
				<key>Green Component</key>
				<real>0.81977206468582153</real>
				<key>Red Component</key>
				<real>0.34416967630386353</real>
			</dict>
			<key>Ansi 15 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.9359474778175354</real>
				<key>Green Component</key>
				<real>0.96549534797668457</real>
				<key>Red Component</key>
				<real>0.96537256240844727</real>
			</dict>
			<key>Ansi 2 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.14004382491111755</real>
				<key>Green Component</key>
				<real>0.87921047210693359</real>
				<key>Red Component</key>
				<real>0.59473341703414917</real>
			</dict>
			<key>Ansi 3 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.099807053804397583</real>
				<key>Green Component</key>
				<real>0.51805692911148071</real>
				<key>Red Component</key>
				<real>0.98094809055328369</real>
			</dict>
			<key>Ansi 4 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.99877572059631348</real>
				<key>Green Component</key>
				<real>0.39599207043647766</real>
				<key>Red Component</key>
				<real>0.61468899250030518</real>
			</dict>
			<key>Ansi 5 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.3728577196598053</real>
				<key>Green Component</key>
				<real>0.0</real>
				<key>Red Component</key>
				<real>0.95683503150939941</real>
			</dict>
			<key>Ansi 6 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.92060363292694092</real>
				<key>Green Component</key>
				<real>0.81977206468582153</real>
				<key>Red Component</key>
				<real>0.34416967630386353</real>
			</dict>
			<key>Ansi 7 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.70993047952651978</real>
				<key>Green Component</key>
				<real>0.77144092321395874</real>
				<key>Red Component</key>
				<real>0.76960963010787964</real>
			</dict>
			<key>Ansi 8 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.29652142524719238</real>
				<key>Green Component</key>
				<real>0.36959609389305115</real>
				<key>Red Component</key>
				<real>0.3829454779624939</real>
			</dict>
			<key>Ansi 9 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.3728577196598053</real>
				<key>Green Component</key>
				<real>0.0</real>
				<key>Red Component</key>
				<real>0.95683503150939941</real>
			</dict>
			<key>Background Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.10051459074020386</real>
				<key>Green Component</key>
				<real>0.10051288455724716</real>
				<key>Red Component</key>
				<real>0.10051589459180832</real>
			</dict>
			<key>Bold Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.70993047952651978</real>
				<key>Green Component</key>
				<real>0.77144092321395874</real>
				<key>Red Component</key>
				<real>0.76960963010787964</real>
			</dict>
			<key>Cursor Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.92647796869277954</real>
				<key>Green Component</key>
				<real>0.96674919128417969</real>
				<key>Red Component</key>
				<real>0.96554505825042725</real>
			</dict>
			<key>Cursor Text Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.70993047952651978</real>
				<key>Green Component</key>
				<real>0.77144092321395874</real>
				<key>Red Component</key>
				<real>0.76960963010787964</real>
			</dict>
			<key>Foreground Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.70993047952651978</real>
				<key>Green Component</key>
				<real>0.77144092321395874</real>
				<key>Red Component</key>
				<real>0.76960963010787964</real>
			</dict>
			<key>Selected Text Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.70993047952651978</real>
				<key>Green Component</key>
				<real>0.77144092321395874</real>
				<key>Red Component</key>
				<real>0.76960963010787964</real>
			</dict>
			<key>Selection Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.20521116256713867</real>
				<key>Green Component</key>
				<real>0.20520767569541931</real>
				<key>Red Component</key>
				<real>0.20521381497383118</real>
			</dict>
		</dict>
	</dict>
	<key>Default Bookmark Guid</key>
	<string>425A6656-A02D-4A72-8C19-721E72ACE082</string>
	<key>DimBackgroundWindows</key>
	<false/>
	<key>DimInactiveSplitPanes</key>
	<true/>
	<key>DimOnlyText</key>
	<true/>
	<key>DisableFullscreenTransparency</key>
	<false/>
	<key>EnableRendezvous</key>
	<false/>
	<key>FocusFollowsMouse</key>
	<false/>
	<key>FsTabDelay</key>
	<real>0.77083331346511841</real>
	<key>HiddenAFRStrokeThickness</key>
	<real>0.0</real>
	<key>HiddenAdvancedFontRendering</key>
	<false/>
	<key>HideActivityIndicator</key>
	<false/>
	<key>HideMenuBarInFullscreen</key>
	<true/>
	<key>HideScrollbar</key>
	<false/>
	<key>HideTab</key>
	<true/>
	<key>HighlightTabLabels</key>
	<true/>
	<key>HotKeyBookmark</key>
	<string>425A6656-A02D-4A72-8C19-721E72ACE082</string>
	<key>HotKeyTogglesWindow</key>
	<false/>
	<key>Hotkey</key>
	<true/>
	<key>HotkeyChar</key>
	<integer>32</integer>
	<key>HotkeyCode</key>
	<integer>49</integer>
	<key>HotkeyModifiers</key>
	<integer>524288</integer>
	<key>IRMemory</key>
	<integer>4</integer>
	<key>JobName</key>
	<true/>
	<key>LeftCommand</key>
	<integer>7</integer>
	<key>LeftOption</key>
	<integer>2</integer>
	<key>LoadPrefsFromCustomFolder</key>
	<true/>
	<key>MaxVertically</key>
	<false/>
	<key>NSColorPanelMode</key>
	<string>3</string>
	<key>NSColorPickerSlidersDefaults</key>
	<string>3</string>
	<key>NSFontPanelAttributes</key>
	<string>1, 6</string>
	<key>NSNavLastRootDirectory</key>
	<string>~/work/lab/thanh/dotfiles/iterm2</string>
	<key>NSNavPanelExpandedSizeForOpenMode</key>
	<string>{712, 459}</string>
	<key>NSQuotedKeystrokeBinding</key>
	<string></string>
	<key>NSRepeatCountBinding</key>
	<string></string>
	<key>NSScrollAnimationEnabled</key>
	<false/>
	<key>NSScrollViewShouldScrollUnderTitlebar</key>
	<false/>
	<key>NSTableView Columns KeyBingingTable</key>
	<array>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU1N0cmluZwGEhAhOU09iamVjdACF
		hAErATCG
		</data>
		<string>198</string>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU1N0cmluZwGEhAhOU09iamVjdACF
		hAErATGG
		</data>
		<string>322</string>
	</array>
	<key>NSTableView Hidden Columns KeyBingingTable</key>
	<array/>
	<key>NSTableView Sort Ordering KeyBingingTable</key>
	<array/>
	<key>NSToolbar Configuration com.apple.NSColorPanel</key>
	<dict>
		<key>TB Is Shown</key>
		<integer>1</integer>
	</dict>
	<key>NSWindow Frame NSFontPanel</key>
	<string>653 276 445 320 0 0 1440 877 </string>
	<key>NSWindow Frame Preferences</key>
	<string>256 267 599 502 0 0 1440 877 </string>
	<key>NSWindow Frame SUStatusFrame</key>
	<string>434 417 400 129 0 0 1440 877 </string>
	<key>NSWindow Frame SUUpdateAlert</key>
	<string>433 363 620 392 0 0 1440 877 </string>
	<key>NSWindow Frame iTerm Window 0</key>
	<string>108 268 650 527 0 0 1440 877 </string>
	<key>NSWindow Frame iTerm Window 1</key>
	<string>76 92 650 527 0 0 1440 877 </string>
	<key>NSWindow Frame iTerm Window 2</key>
	<string>417 60 650 527 0 0 1440 877 </string>
	<key>NSWindow Frame iTerm Window 3</key>
	<string>772 226 650 527 0 0 1440 877 </string>
	<key>NSWindow Frame iTerm Window 4</key>
	<string>622 186 650 527 0 0 1440 877 </string>
	<key>New Bookmarks</key>
	<array>
		<dict>
			<key>ASCII Anti Aliased</key>
			<false/>
			<key>Allow Title Reporting</key>
			<false/>
			<key>Ambiguous Double Width</key>
			<false/>
			<key>Ansi 0 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.30978870391845703</real>
				<key>Green Component</key>
				<real>0.30978870391845703</real>
				<key>Red Component</key>
				<real>0.30978870391845703</real>
			</dict>
			<key>Ansi 1 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.37647059559822083</real>
				<key>Green Component</key>
				<real>0.42352938652038574</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Ansi 10 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.67277032136917114</real>
				<key>Green Component</key>
				<real>1</real>
				<key>Red Component</key>
				<real>0.80941480398178101</real>
			</dict>
			<key>Ansi 11 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.79964911937713623</real>
				<key>Green Component</key>
				<real>1</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Ansi 12 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.998260498046875</real>
				<key>Green Component</key>
				<real>0.86277562379837036</real>
				<key>Red Component</key>
				<real>0.7116503119468689</real>
			</dict>
			<key>Ansi 13 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.99652087688446045</real>
				<key>Green Component</key>
				<real>0.61330592632293701</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Ansi 14 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.99703967571258545</real>
				<key>Green Component</key>
				<real>0.87631028890609741</real>
				<key>Red Component</key>
				<real>0.87591361999511719</real>
			</dict>
			<key>Ansi 15 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>1</real>
				<key>Green Component</key>
				<real>1</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Ansi 2 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.37647059559822083</real>
				<key>Green Component</key>
				<real>1</real>
				<key>Red Component</key>
				<real>0.65882349014282227</real>
			</dict>
			<key>Ansi 3 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.7137255072593689</real>
				<key>Green Component</key>
				<real>1</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Ansi 4 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.99607837200164795</real>
				<key>Green Component</key>
				<real>0.7960783839225769</real>
				<key>Red Component</key>
				<real>0.58823531866073608</real>
			</dict>
			<key>Ansi 5 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.99215692281723022</real>
				<key>Green Component</key>
				<real>0.45098039507865906</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Ansi 6 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.99607837200164795</real>
				<key>Green Component</key>
				<real>0.77254897356033325</real>
				<key>Red Component</key>
				<real>0.7764706015586853</real>
			</dict>
			<key>Ansi 7 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.93353170156478882</real>
				<key>Green Component</key>
				<real>0.93353170156478882</real>
				<key>Red Component</key>
				<real>0.93353170156478882</real>
			</dict>
			<key>Ansi 8 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.48627451062202454</real>
				<key>Green Component</key>
				<real>0.48627451062202454</real>
				<key>Red Component</key>
				<real>0.48627451062202454</real>
			</dict>
			<key>Ansi 9 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.69019609689712524</real>
				<key>Green Component</key>
				<real>0.7137255072593689</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Automatically Log</key>
			<false/>
			<key>BM Growl</key>
			<true/>
			<key>Background Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.0</real>
				<key>Green Component</key>
				<real>0.0</real>
				<key>Red Component</key>
				<real>0.0</real>
			</dict>
			<key>Background Image Is Tiled</key>
			<false/>
			<key>Background Image Location</key>
			<string></string>
			<key>Blend</key>
			<real>0.30000001192092896</real>
			<key>Blink Allowed</key>
			<false/>
			<key>Blinking Cursor</key>
			<false/>
			<key>Blur</key>
			<true/>
			<key>Blur Radius</key>
			<real>7.470405101776123</real>
			<key>Bold Color</key>
			<dict>
				<key>Blue Component</key>
				<real>1</real>
				<key>Green Component</key>
				<real>1</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Character Encoding</key>
			<integer>4</integer>
			<key>Close Sessions On End</key>
			<true/>
			<key>Columns</key>
			<integer>80</integer>
			<key>Command</key>
			<string></string>
			<key>Cursor Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.37647059559822083</real>
				<key>Green Component</key>
				<real>0.64705878496170044</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Cursor Text Color</key>
			<dict>
				<key>Blue Component</key>
				<real>1</real>
				<key>Green Component</key>
				<real>1</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Cursor Type</key>
			<integer>2</integer>
			<key>Custom Command</key>
			<string>No</string>
			<key>Custom Directory</key>
			<string>Recycle</string>
			<key>Default Bookmark</key>
			<string>No</string>
			<key>Disable Printing</key>
			<false/>
			<key>Disable Smcup Rmcup</key>
			<false/>
			<key>Disable Window Resizing</key>
			<true/>
			<key>Flashing Bell</key>
			<false/>
			<key>Foreground Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.73333334922790527</real>
				<key>Green Component</key>
				<real>0.73333334922790527</real>
				<key>Red Component</key>
				<real>0.73333334922790527</real>
			</dict>
			<key>Guid</key>
			<string>425A6656-A02D-4A72-8C19-721E72ACE082</string>
			<key>Hide After Opening</key>
			<false/>
			<key>Horizontal Spacing</key>
			<real>1</real>
			<key>Idle Code</key>
			<integer>0</integer>
			<key>Initial Text</key>
			<string></string>
			<key>Jobs to Ignore</key>
			<array>
				<string>rlogin</string>
				<string>ssh</string>
				<string>slogin</string>
				<string>telnet</string>
			</array>
			<key>Keyboard Map</key>
			<dict>
				<key>0x2d-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1f</string>
				</dict>
				<key>0x5e-0x60000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1e</string>
				</dict>
				<key>0xf700-0x220000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[A</string>
				</dict>
				<key>0xf700-0x240000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[A</string>
				</dict>
				<key>0xf700-0x260000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[A</string>
				</dict>
				<key>0xf700-0x280000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[A</string>
				</dict>
				<key>0xf701-0x220000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[B</string>
				</dict>
				<key>0xf701-0x240000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[B</string>
				</dict>
				<key>0xf701-0x260000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[B</string>
				</dict>
				<key>0xf701-0x280000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[B</string>
				</dict>
				<key>0xf702-0x220000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[D</string>
				</dict>
				<key>0xf702-0x240000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[5D</string>
				</dict>
				<key>0xf702-0x260000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1b 0x1b 0x5b 0x44</string>
				</dict>
				<key>0xf702-0x280000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>b</string>
				</dict>
				<key>0xf703-0x220000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[C</string>
				</dict>
				<key>0xf703-0x240000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[5C</string>
				</dict>
				<key>0xf703-0x260000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[C</string>
				</dict>
				<key>0xf703-0x280000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>f</string>
				</dict>
				<key>0xf708-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[25~</string>
				</dict>
				<key>0xf709-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[26~</string>
				</dict>
				<key>0xf70a-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[28~</string>
				</dict>
				<key>0xf70b-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[29~</string>
				</dict>
				<key>0xf729-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[H</string>
				</dict>
				<key>0xf729-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>5</integer>
					<key>Text</key>
					<string></string>
				</dict>
				<key>0xf72b-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[F</string>
				</dict>
				<key>0xf72b-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>4</integer>
					<key>Text</key>
					<string></string>
				</dict>
			</dict>
			<key>Log Directory</key>
			<string></string>
			<key>Minimum Contrast</key>
			<real>0.0</real>
			<key>Mouse Reporting</key>
			<true/>
			<key>Name</key>
			<string>Default</string>
			<key>Non Ascii Font</key>
			<string>UbuntuMono-Regular 16</string>
			<key>Non-ASCII Anti Aliased</key>
			<false/>
			<key>Normal Font</key>
			<string>Monaco 13</string>
			<key>Option Key Sends</key>
			<integer>0</integer>
			<key>Prompt Before Closing 2</key>
			<integer>0</integer>
			<key>Right Option Key Sends</key>
			<integer>0</integer>
			<key>Rows</key>
			<integer>25</integer>
			<key>Screen</key>
			<integer>-1</integer>
			<key>Scrollback Lines</key>
			<integer>1000</integer>
			<key>Scrollback With Status Bar</key>
			<false/>
			<key>Scrollback in Alternate Screen</key>
			<true/>
			<key>Selected Text Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.94760048389434814</real>
				<key>Green Component</key>
				<real>0.94760048389434814</real>
				<key>Red Component</key>
				<real>0.94760048389434814</real>
			</dict>
			<key>Selection Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.51530611515045166</real>
				<key>Green Component</key>
				<real>0.22248570621013641</real>
				<key>Red Component</key>
				<real>0.20990739762783051</real>
			</dict>
			<key>Semantic History</key>
			<dict>
				<key>action</key>
				<string>best editor</string>
				<key>editor</key>
				<string>com.sublimetext.3</string>
				<key>text</key>
				<string></string>
			</dict>
			<key>Send Code When Idle</key>
			<false/>
			<key>Set Local Environment Vars</key>
			<true/>
			<key>Shortcut</key>
			<string></string>
			<key>Silence Bell</key>
			<false/>
			<key>Smart Cursor Color</key>
			<false/>
			<key>Smart Selection Rules</key>
			<array>
				<dict>
					<key>notes</key>
					<string>Word bounded by whitespace</string>
					<key>precision</key>
					<string>low</string>
					<key>regex</key>
					<string>\S+</string>
				</dict>
				<dict>
					<key>notes</key>
					<string>C++ namespace::identifier</string>
					<key>precision</key>
					<string>normal</string>
					<key>regex</key>
					<string>([a-zA-Z0-9_]+::)+[a-zA-Z0-9_]+</string>
				</dict>
				<dict>
					<key>notes</key>
					<string>Paths</string>
					<key>precision</key>
					<string>normal</string>
					<key>regex</key>
					<string>\~?/?([[:letter:][:number:]._-]+/+)+[[:letter:][:number:]._-]+/?</string>
				</dict>
				<dict>
					<key>notes</key>
					<string>Quoted string</string>
					<key>precision</key>
					<string>normal</string>
					<key>regex</key>
					<string>@?"(?:[^"\\]|\\.)*"</string>
				</dict>
				<dict>
					<key>notes</key>
					<string>Java/Python include paths</string>
					<key>precision</key>
					<string>normal</string>
					<key>regex</key>
					<string>([[:letter:][:number:]._]+\.)+[[:letter:][:number:]._]+</string>
				</dict>
				<dict>
					<key>notes</key>
					<string>mailto URL</string>
					<key>precision</key>
					<string>normal</string>
					<key>regex</key>
					<string>\bmailto:([a-z0-9A-Z_]+@)?([a-zA-Z0-9\-]+\.)*[a-zA-Z0-9\-]+\b</string>
				</dict>
				<dict>
					<key>notes</key>
					<string>Obj-C selector</string>
					<key>precision</key>
					<string>high</string>
					<key>regex</key>
					<string>@selector\([^)]+\)</string>
				</dict>
				<dict>
					<key>notes</key>
					<string>email address</string>
					<key>precision</key>
					<string>high</string>
					<key>regex</key>
					<string>\b[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,4}\b</string>
				</dict>
				<dict>
					<key>notes</key>
					<string>HTTP URL</string>
					<key>precision</key>
					<string>very_high</string>
					<key>regex</key>
					<string>https?://([a-z0-9A-Z]+(:[a-zA-Z0-9]+)?@)?[a-z0-9A-Z]+(\.[a-z0-9A-Z]+)*((:[0-9]+)?)(/[a-zA-Z0-9;/\.\-_+%~?&amp;@=#\(\)]*)?</string>
				</dict>
				<dict>
					<key>notes</key>
					<string>SSH URL</string>
					<key>precision</key>
					<string>very_high</string>
					<key>regex</key>
					<string>\bssh:([a-z0-9A-Z_]+@)?([a-zA-Z0-9\-]+\.)*[a-zA-Z0-9\-]+\b</string>
				</dict>
				<dict>
					<key>notes</key>
					<string>Telnet URL</string>
					<key>precision</key>
					<string>very_high</string>
					<key>regex</key>
					<string>\btelnet:([a-z0-9A-Z_]+@)?([a-zA-Z0-9\-]+\.)*[a-zA-Z0-9\-]+\b</string>
				</dict>
			</array>
			<key>Sync Title</key>
			<false/>
			<key>Tags</key>
			<array/>
			<key>Terminal Type</key>
			<string>xterm-256color</string>
			<key>Transparency</key>
			<real>0.17573964595794678</real>
			<key>Triggers</key>
			<array>
				<dict>
					<key>action</key>
					<string>PasswordTrigger</string>
					<key>parameter</key>
					<string></string>
					<key>partial</key>
					<true/>
					<key>regex</key>
					<string>password(:| for)</string>
				</dict>
			</array>
			<key>Unlimited Scrollback</key>
			<false/>
			<key>Use Bold Font</key>
			<true/>
			<key>Use Bright Bold</key>
			<false/>
			<key>Use Canonical Parser</key>
			<false/>
			<key>Use Italic Font</key>
			<true/>
			<key>Vertical Spacing</key>
			<real>1.1000000238418579</real>
			<key>Visual Bell</key>
			<true/>
			<key>Window Type</key>
			<integer>0</integer>
			<key>Working Directory</key>
			<string>/Users/thanh</string>
		</dict>
	</array>
	<key>NoSyncConfirmBeta</key>
	<true/>
	<key>NoSyncDoNotWarnBeforeMultilinePaste</key>
	<true/>
	<key>NoSyncDoNotWarnBeforeMultilinePaste_selection</key>
	<integer>0</integer>
	<key>NoSyncHaveShownPromoWithId_4</key>
	<true/>
	<key>NoSyncInstallationId</key>
	<string>10130860-CA80-4EED-906C-9021928B0222</string>
	<key>NoSyncLastTipTime</key>
	<real>485322947.67046899</real>
	<key>NoSyncPermissionToShowTip</key>
	<true/>
	<key>NoSyncTimeOfFirstLaunchOfVersionWithTip</key>
	<real>477737607.74275303</real>
	<key>NoSyncTimeOfLastPromo</key>
	<real>477599186.76176101</real>
	<key>NoSyncTimeOfLastPromoDownload</key>
	<real>477579439.01605999</real>
	<key>NoSyncTipsToNotShow</key>
	<array>
		<string>000</string>
		<string>0000</string>
		<string>0001</string>
		<string>0002</string>
		<string>0003</string>
		<string>0004</string>
		<string>0005</string>
		<string>0006</string>
		<string>0007</string>
		<string>0008</string>
		<string>0009</string>
		<string>0010</string>
		<string>0011</string>
		<string>0012</string>
		<string>0013</string>
		<string>0014</string>
		<string>0015</string>
		<string>0016</string>
		<string>0017</string>
		<string>0018</string>
		<string>0019</string>
		<string>0020</string>
		<string>0021</string>
		<string>0022</string>
		<string>0023</string>
		<string>0024</string>
		<string>0025</string>
		<string>0026</string>
		<string>0027</string>
		<string>0028</string>
		<string>0029</string>
		<string>0030</string>
		<string>0031</string>
		<string>0032</string>
		<string>0033</string>
		<string>0034</string>
		<string>0035</string>
		<string>0036</string>
		<string>0037</string>
		<string>0038</string>
		<string>0039</string>
		<string>0040</string>
		<string>0041</string>
		<string>0042</string>
		<string>0043</string>
		<string>0044</string>
		<string>0045</string>
		<string>0046</string>
		<string>0047</string>
		<string>0048</string>
		<string>0049</string>
		<string>0050</string>
		<string>0051</string>
		<string>0052</string>
		<string>0053</string>
		<string>0054</string>
		<string>0055</string>
		<string>0056</string>
		<string>0057</string>
		<string>0058</string>
		<string>0059</string>
		<string>0060</string>
		<string>0061</string>
		<string>0062</string>
		<string>0063</string>
		<string>0064</string>
		<string>0065</string>
	</array>
	<key>OnlyWhenMoreTabs</key>
	<true/>
	<key>OpenArrangementAtStartup</key>
	<false/>
	<key>OpenBookmark</key>
	<false/>
	<key>OpenTmuxWindowsIn</key>
	<integer>0</integer>
	<key>PassOnControlClick</key>
	<false/>
	<key>PasteFromClipboard</key>
	<false/>
	<key>PointerActions</key>
	<dict>
		<key>Button,1,1,,</key>
		<dict>
			<key>Action</key>
			<string>kContextMenuPointerAction</string>
		</dict>
		<key>Button,2,1,,</key>
		<dict>
			<key>Action</key>
			<string>kPasteFromClipboardPointerAction</string>
		</dict>
		<key>Gesture,ThreeFingerSwipeDown,,</key>
		<dict>
			<key>Action</key>
			<string>kPrevWindowPointerAction</string>
		</dict>
		<key>Gesture,ThreeFingerSwipeLeft,,</key>
		<dict>
			<key>Action</key>
			<string>kPrevTabPointerAction</string>
		</dict>
		<key>Gesture,ThreeFingerSwipeRight,,</key>
		<dict>
			<key>Action</key>
			<string>kNextTabPointerAction</string>
		</dict>
		<key>Gesture,ThreeFingerSwipeUp,,</key>
		<dict>
			<key>Action</key>
			<string>kNextWindowPointerAction</string>
		</dict>
	</dict>
	<key>PrefsCustomFolder</key>
	<string>/Users/thanh/work/lab/thanh/dotfiles/iterm2</string>
	<key>PromptOnQuit</key>
	<true/>
	<key>QuitWhenAllWindowsClosed</key>
	<false/>
	<key>RightCommand</key>
	<integer>8</integer>
	<key>RightOption</key>
	<integer>3</integer>
	<key>SUAutomaticallyUpdate</key>
	<false/>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUFeedAlternateAppNameKey</key>
	<string>iTerm</string>
	<key>SUFeedURL</key>
	<string>https://iterm2.com/appcasts/testing.xml?shard=15</string>
	<key>SUHasLaunchedBefore</key>
	<true/>
	<key>SULastCheckTime</key>
	<date>2016-07-14T10:15:39Z</date>
	<key>SavePasteHistory</key>
	<false/>
	<key>ShowBookmarkName</key>
	<false/>
	<key>ShowPaneTitles</key>
	<true/>
	<key>SmartPlacement</key>
	<false/>
	<key>SplitPaneDimmingAmount</key>
	<real>0.40000000596046448</real>
	<key>SwitchTabModifier</key>
	<integer>4</integer>
	<key>SwitchWindowModifier</key>
	<integer>6</integer>
	<key>TabViewType</key>
	<integer>0</integer>
	<key>ThreeFingerEmulates</key>
	<false/>
	<key>TmuxDashboardLimit</key>
	<integer>10</integer>
	<key>ToolbeltTools</key>
	<array>
		<string>Notes</string>
	</array>
	<key>TripleClickSelectsFullWrappedLines</key>
	<false/>
	<key>URLHandlersByGuid</key>
	<dict/>
	<key>UseBorder</key>
	<false/>
	<key>UseCompactLabel</key>
	<true/>
	<key>UseLionStyleFullscreen</key>
	<true/>
	<key>WebKitDefaultFontSize</key>
	<integer>11</integer>
	<key>WebKitStandardFont</key>
	<string>.AppleSystemUIFont</string>
	<key>WindowNumber</key>
	<true/>
	<key>WindowStyle</key>
	<integer>1</integer>
	<key>WordCharacters</key>
	<string>-+\~_.</string>
	<key>findIgnoreCase_iTerm</key>
	<true/>
	<key>findRegex_iTerm</key>
	<false/>
	<key>iTerm Version</key>
	<string>3.0.4</string>
</dict>
</plist>
